@import "../../app.scss";

.services {
  background: linear-gradient(180deg, #0a0a0a, #1a1a1a);

  background-image: url("../../../public/blurbg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  .textContainer {
    flex: 1;

    align-items: center;
    display: flex;
    gap: 20px;
    max-width: 1366px;
    margin: auto;

    h2 {
      font-size: 100px;
      line-height: 70%;
      font-weight: bold;

      @include mobile {
        font-size: 50px;
      }

      @include laptop {
        font-size: 60px;
      }
    }

    .text {
      color: white;
      margin: 1px;
      // position: absolute;
    }

    .text2 {
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
      -webkit-text-stroke: 0.5px rgb(255, 255, 255);
      // padding-bottom: 5%;
    }

    .text3 {
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
      -webkit-text-stroke: 0.5px rgb(255, 255, 255);
      // padding-bottom: 5%;
    }

    h3 {
      font-size: 50px;

      @include mobile {
        font-size: 30px;
      }
      @include laptop {
        font-size: 30px;
      }
    }

    p {
      font-size: 20px;
      @include mobile {
        font-size: 12px;
      }

      @include laptop {
        font-size: 18px;
      }

      // .highlight {
      //   color: white;
      //   // font-size: 100px;
      // }
    }

    .intro {
      padding: 10px 0 50px 0;
      text-align: justify;
    }

    .intro p {
      width: 22vw;
      @include mobile {
        width: 100%;
        text-align: left;
      }

      @include laptop {
        width: 30vw;
        text-align: justify;
        margin-right: 20px;
      }
    }

    .desc1 {
      padding: 30px 0 10px 0;
    }

    .introContainer {
      // background-color: red;
      height: 70%;
      margin-right: 50px;

      @include mobile {
        margin-left: 4%;
        margin-right: 0;
        height: auto;
      }

      @include laptop {
        // margin-left: 4%;;
        margin-right: 0;
        height: auto;
      }
    }

    .skillsContainer {
      // background-color: red;
      // height: 48%;
      @include mobile {
        margin-right: 4%;
      }
    }

    .editContainer {
      padding: 15px 0 0 0;
    }

    .bg {
      background-image: url("../../../public/blurbg.png");
      background-repeat: no-repeat;
      width: 100%;
    }

    img {
      // filter: grayscale(100%);
      margin: 30px 2px 0px 2px;
      width: 40px;
      height: 40px;
    }
  }
}

.hrVertical {
  width: 1px;
  height: 68%;
  display: inlineBlock;
  position: absolute;

  @include mobile {
    height: 55vh;
  }

  @include laptop {
    height: 85vh;
  }
}
