@import "../../app.scss";

// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300&family=Kaushan+Script&family=Lobster&family=Major+Mono+Display&family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cutive+Mono&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Press+Start+2P&family=Tiny5&display=swap');

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #0a0a0a, #1a1a1a);
  position: relative;
  z-index: 2;

  

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    @include mobile{   
      overflow-x: hidden;
    }

    @include laptop{
      overflow-x: hidden;
      // max-width: 1000px;
      max-width: 80vw;
    }


    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      // @include laptop {
      //   margin-left: 10%;
        
      // }

      h2 {
        font-size: 100px;
        line-height: 0%;
        font-weight: bold;
        // color: rgb(109, 109, 109);
        // letter-spacing: 10px;

        @include mobile {
        font-size: 50px;
        line-height: 0%;
        font-weight: bold
        }
      }
      
      .text{
        color: white;
      }

      .text2{
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
        -webkit-text-stroke: 0.5px rgb(255, 255, 255);
        padding-bottom: 5%;
      }

      h1 {
        font-size: 30px;

        @include mobile {
          font-size: 16px;
        }
      }

      .buttons {
        button {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          margin-top: 20px;
          cursor: pointer;
          font-weight: 300;
          z-index: 2;

          @include mobile{
            font-size: 12px;
            margin-right: 0;
            padding: 18px;
            margin-right: 16px;

          }
        }

      }

      img {
        width: 50px;
      }
    }
  }

  .imageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @include mobile {
      height: 50%;
      width: 100%;
      top: unset;
      bottom: 0;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding: 20px 250px 0 0;

      @include mobile {
        padding: 10% 0 0 0;
        max-width: 60vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
        height: auto;
      }

      @include laptop{
        padding: 0 100px 0 0;
      }

      
    }
  }
  
  .scrollImg{
    @include mobile {
      display: none;

    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
    z-index: -1;

    @include mobile{
      font-size: 40vh;
      bottom: -100px;

    }
  }

  a{
    cursor: pointer;

  }
}

.devText{
  display: flex;
  gap: 15px;
  padding:20px 0 ;
  font-size: 30px;

  @include mobile{
    padding:20px 0 ;
    font-size: 15px;
    justify-content: center;

  }
  // margin: auto 0;
  // justify-content: center;
  // align-content:center;
  // text-align: center;
  // font-size: 200px;
}


.change-text {
  // font-size: 30pt;

  color: lightgrey;
  animation-name: fontChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: auto 0;
  justify-content: center;
  align-content:center;
  text-align: center;
  position: absolute;

}


.change-text p{
  @include mobile{
font-size: 10px;  }
}

@keyframes fontChange {
  0% {
    font-family: madeRegular;
  }
  10% {
    font-family: 'Playfair Display', serif;
  }
  20% {
    font-family: 'Cinzel Decorative';

  }
  30% {
    font-family: 'Cutive Mono';

  }
  40% {
    font-family: 'Press Start 2P Display';

  }
  50% {
    font-family: 'Tiny5';
  }

  60% {
    font-family: 'madeRegular';
  }

  80% {
    font-family: 'madeRegular';

  }

  100% {
    font-family: 'madeRegular';
  }

  
}
