@import "../../app.scss";

.ImageCarousel {
    font-family: sans-serif;
    text-align: center;

    @include mobile{
      margin-top: 20%;
    }
    
  }
  
  .crsl {
    // width: 400px;
    margin: auto;
    width: auto;
    cursor: pointer;

    @include mobile{
      margin: auto;
      width: 70%;
    }
}
  