@import "../../app.scss";

.portfolio {
  position: relative;
  background-image: url("../../../public/bgport2.png");
  background-repeat: no-repeat ;
  background-size: 100%;
  width: 100%;
  height: 100%;
  background-size: cover !important;


  // @include mobile {
  //   background-repeat: no-repeat ;
  //   background-size: cover !important;
  // }

  // @include laptop {
  //   background-repeat: no-repeat ;
  //   background-size: cover !important;
  
  // }

  .progress {
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 36px;

    @include mobile {
      padding-top: calc(100vh - 100px);
      
    }

    .progressBar {
      // height: 10%;
      background-color: white;
      
      @include mobile{
        // bottom: auto;
        // height: 10%;
        // position: absolute;
        // margin-top: 10%;
      }
    }

    .titleContainer{
      max-width: 1366px;
      // font-size: 40px;
      flex: 1;
      display: flex;
      align-self: flex-end;
      margin: auto;
      text-align: center;
      justify-content: center;
      gap: 20px;

      @include mobile {
        font-size: 20px;     
        // display: none !important;
        // bottom: auto;
      }
    
      

      .text{
        color: white;
        margin: 1px;
      }
      
      .text2{
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
        -webkit-text-stroke: 0.5px rgb(255, 255, 255);
      }
    }
  }


  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
      }

      @include laptop {
        width: 80vw;
      }

      .imageContainer {
        flex: 1;
        height: 50%;

        @include mobile {
          width: 100%;
          max-height: 300px;
        }

        img {
          width: 100%;
          height: 100%;
          // object-fit: cover;
          border-radius: 2%;

          @include mobile {
            object-fit: contain;
          }
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        

        @include mobile {
          transform: none !important;
          padding: 10px;
          align-items: center;
          text-align: center;
          margin-top: 10%;
          
        }

        @include laptop {
          justify-content: center;
          // align-items: center;
          margin-top: 5%;

        }

        .text{
          color: white;
          margin: 1px;
          // position: absolute;
        }
              
        .text2{
          -webkit-text-fill-color: rgba(255, 255, 255, 0);
          -webkit-text-stroke: 0.5px rgb(255, 255, 255);
          // padding-bottom: 5%;
        }

        h2 {
          font-size: 50px;
          color: rgb(228, 228, 228);
          @include mobile {
            font-size: 20px !important;
          }

          @include laptop {
            font-size: 30px !important;
          }
        }

        p {
          color: rgb(223, 223, 223);
          font-size: 20px;
          text-align: justify;

          @include mobile {
            font-size: 14px !important;
            text-align: justify;
            width: 85vw;
          }
        }

        a{
          @include mobile {
            font-size: 12px !important;
          }
        }

       

        button {
          // background-color: orange;
          // border: none;
          // border-radius: 10px;
          // padding: 10px;
          width: 200px;
          // cursor: pointer;
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;
          z-index: 2;
        }
      }
    }
  }
}

#webLink{
  transition: all 300ms ease-out;
  // margin-top: 0;
}

#webLink:hover{
  color: white;
  transition: all 300ms ease-in;
}

#logoBehance{
  // height: 5% !important;
  width: 40px;
  @include mobile {
    width: 30px;
  }
}