@import "../../app.scss";

.buttons {
  button {
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    font-weight: 300;
    z-index: 2;

    @include mobile{
      font-size: 12px;
      margin-right: 0;
      padding: 18px;

    }
  }
}

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  // gap: 50px;
  
  @include laptop{
    overflow-x: hidden;
    max-width: 80vw;
  }
  // width: 100%;


  @include mobile {
    width: 100%;
    // padding: 10px;
    flex-direction: column;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 70px;
    }

    h1 {
      font-size: 100px;
      // line-height: 88px;
      color: rgb(233, 233, 233);

      @include mobile {
        font-size: 20px;
      }
      @include laptop {
        font-size: 60px;
      }
    }

    h2 {
      // font-size: 100px;
      // line-height: 88px;
      // color: rgb(233, 233, 233);

      @include mobile {
        font-size: 18px;
      }

      @include laptop {
        font-size: 20px;
      }
    }

    p{
      @include mobile {
        font-size: 16px;
      }
      @include laptop {
        font-size: 18px;
      }
    }

    .cvButton{
      @include mobile {
        margin-top: 20px;
        // font-size: 10px !important;
      }
    }

    // span {
    //   font-weight: 300;
    // }
  }

  .formContainer {
    flex: 1;
    position: relative;
    
    @include mobile {
      // padding: 50px;
      width: 80%;
      justify-content: center;
      align-items: center;
      text-align: center;
    }


    .phoneSvg {
      stroke: white;
      position: absolute;
      margin: auto;
      z-index: -1;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include mobile {
        margin-top: 0;
      }

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;

        @include mobile {
          padding: 10px;
        }
      }

      button {
        padding: 20px;
        border: none;
        // background-color: black;
        cursor: pointer;
        font-weight: 500;
        @include mobile {
          padding: 10px;
        }
      }
    }
  }

  .svgContact{
    width:450px; 
    height:450px;
    @include mobile {
      width:200px; 
      height:200px;
      align-items: center;
      justify-content: center;
      text-align: center;

    }
    // viewBox:0 0 32.666 32.666;
  }
}
